/******
youtube red : 255,0,0
almost black: 40,40,40
charcoal: 54,69,79
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Arvo', serif;
******/
html,
body {
	overflow-x: hidden;
	/*overflow-y: hidden;*/
	font-family: 'Montserrat', sans-serif;
	background-color: #020e13;
}

.popover{
	max-width: 450px;
}
.popover-title{
	max-width: 240px;
}
@keyframes typing {
	from {
		width: 0
	}
	to {
		width: 100%
	}
}
@keyframes blinkCaret {
	from,
	to {
		border-color: transparent
	}
	50% {
		border-color: #2BBBAD;
	}
}
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: rgb(40, 40, 40);
}
::-webkit-scrollbar-thumb {
	width: 3.5px;
	height: 4px;
	border-radius: 25px;
	background-color: #3F729B;
}

/************************************************************************************
*  																					*
*  								Bootstrap modifications								*
*          																			*
*************************************************************************************/

.popover, .popover-title{
	background-color: black;
	color:white;
}

.form-control {
	height: 33.7px !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: #fff !important;
	color: #FF8E2F !important;
}

/************************************************************************************
*  Any and all css for navbar - i.e. anything inside #mainNav<nav> / #midNav<nav>	*
*  at this moment, the only exception for having it outside of this area 			*
*  is for @ media rule which will be at the bottom	-may change in future         	*
*************************************************************************************/
.hamburger {
	display: none !important;
	color: #FF8E2F;
	border: none;
}
#mainNav{
	background-color: black;
	height: 3.5%;
	margin-bottom: 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
#mainNav>.container-fluid{
	position:relative;
	/*font-family: 'Arvo', serif;*/
}
.navbar-toggle {
	margin: 0;
	height: 50px;
	width: 50px;
}
.navbar-brand {
	font-size: 22px;
	margin-right: 20px;
	font-family: 'Audiowide', sans-serif;
	letter-spacing: -1.5px;
	padding: 0;
	padding-left: 15px;
	color: rgba(255, 255, 255, 1);
	cursor: default;
}
#cubeTubeLogo{
	display: inline-block;
	width: 36px;
	height: 40px;
	background-image: url('assets/images/ctube_logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px 40px;
	margin-top:7px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.logoText{
	vertical-align: 55%;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
#mainNav-option{
	z-index: 1;
	height: auto;
}
#midNav {
	border-radius: 0;
	background-color: black;
	/*background-color: rgb(63,114,155);*/
	border: none;
	height: 3.5%;
	margin: 0;
}
#midNav-option{
	z-index:1;
	position: relative;
	font-family: 'Roboto', sans-serif;
}
.listUpWrap{
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
}
.listDropWrap{
	position: absolute;
	top: 46px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	
}
.listUpButton{
	padding: 0 15px;
	background: black;
	border: none;
	color: rgba(255,255,255,0.55);
	height: 1.7em;
}
.listDropButton{
	padding: 0 15px;
	background: black;
	border:none;
	color: rgba(255,255,255,0.55);
	height:1.7em;
	border-radius: 0 0 100% 100%;
}
.listDropButton:hover, .listUpButton:hover{
	color: rgba(255,255,255,1);
}
.listDropButton:focus, .listUpButton:focus{
	outline:none;
}
.midNavButtonWrap{
	position: absolute;
	left: 0;
	margin-left: 20px;
}
.midNavChannels{
	/*font-family: 'Arvo', serif;*/
	color: white;
	font-size: 1em;
	line-height: 2.85em;
	margin-left: 25px;
	float:right;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.label{
	color: #020e13
}

.playlistLabel{
	font-size: 14px;
	margin-right: 7px;
	display:none;
}
.midNavBrowsing, .midNavWatching, .midNavPlaylist, .midNavPlaylistText{
	display: none;
	font-size:14px;
	font-weight: 700
}
.watchingLabel, .browsingLabel{
	font-size: 100%;
	/*padding: 9px 2.5px;*/
}
#midNav-option form {
	margin-right: 20px;
}
#mainNav-option .form-group {
	display: inline-block;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
#midNav-option .form-group {
	display: inline-block;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}
.channelSearchForm {
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	box-shadow: none;
}
.channelSearchInput{
	border-bottom: 1px solid;
}
.channelSearchButton{
	background-color: #FF8E2F;
	border-radius: 0;
	border:none;
	cursor: pointer;
}
.channelSearchButton>.glyphicon-search{
	color: white;
}
.channelSearchButton:hover{
	background-color: #f48642;
}
.channelSearchForm input, #videoSearchInput{
	border: none;
	border-radius:0;
}
.dropdownLabelA{
	color: white;
}
.dropdownLabelA>.fa-cube{
	color: #FF8E2F;
}
.dropdownLabelA:hover{
	color: #FF8E2F;
}
#channelCategoryUl{
	text-align: center;
	padding: 5px 10px;
	background-color: black;
	color:white;
	/*overflow: auto;*/
}
#dropdownChannelUl{
	overflow:auto;
	padding: 0;
	max-height: 25vh;
}
#channelCategoryUl li{
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.dropdownChannelLi, .dropdownChannelLiAll, .dropdownCatLi{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	margin-top: 5px;
	line-height: 0.0;
}
.dropdownChannelLiLoad>.fa-refresh, #categoryButton>.fa{
	color: red;
}
.dropdownChannelLiAll>.fa-cubes{
	color: #FF8E2F;
}

.channelLiChannel:hover, .dropdownChannelLiAll:hover, .dropdownCatLi:hover, .dropdownChannelLiLoad:hover, #myLinkButton:hover{
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	cursor: pointer;
}
.videoToolTip{
	background: white;
	border: none;
	border-left: 1px solid !important;
}
.infoButtons{
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	line-height: 3.7;
}
#channelInfo .popover{
	max-width: 400px;
}
.autoPlayArea{
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	height: 50px;
}
.ui-widget-content {
	/*color: #fff !important;*/
	color: #000 !important;
    /*top: 49px !important;*/
    top:44px !important;
	/*background-color: rgb(20,20,20) !important;*/
	background-color: rgb(255,255,255) !important;
	border: none !important;
	background: unset;
	z-index: 5000;
}
/*Transition to get hamburger menu to collapse when search button is clicked */
.navbar-collapse {
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s; 
	transition: all ease .5s;
}
/********************************************************************
* END of navbar css area. any navbar css beyond this point must be 	*
* for @media rule purpose											*
*********************************************************************/

body>.container-fluid {
	/*padding-top: 51px;*/
	/*padding-top: 54px;*/
	/*removes navbar overlap*/
	padding-right: 0;
	padding-left: 0;
}
.main-content {
	height: 94vh;
	/*min-height: 550px;*/
}

/********************************************************************
* area for video player area - i.e. the section with youtube video;	*
* i.e. things inside .videoRowWrapper<div>                         	*
*********************************************************************/
.videoRowWrapper {
	/*height: 47%;*/
	height: 60%;
	background-color: #020e13;
}
/*.vidRowVideoCol {*/
	/*height: 100%;*/
	/*!*border: 1px solid red;*!*/
/*}*/
/*#mainVideoContainer{*/
	/*display:flex;*/
/*}*/

#mainVideo {
	margin: 0.25% 0;
	height: 55vh;
	width: 98vh;
	max-width:100vw;
	justify-self: center;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
/************************************
* END of .videoRowWrapper<div> area *
*************************************/
/* location of buttons below may change in future*/
#videoComments {
	/*color: rgba(43,187,173, 0.5);*/
	color: rgba(255, 255, 255, 0.5);
	position: absolute;
	right: 0;
	bottom: 126px;
	background: none;
	border: none;
}
#videoComments:hover {
	color: rgba(43, 187, 173, 1);
}
#channelInfo {
/*	position: absolute;
	right: 0;
	bottom: 89px;*/
	color: rgba(255, 255, 255, 0.5);
	/*color: rgba(49,176,213,0.5);*/
	background: none;
	border: none;
}
#channelInfo:hover {
	color: rgba(255,143,0, 1);
}
#videoStats {
/*	position: absolute;
	right: 0;
	bottom: 52px;*/
	color: rgba(255, 255, 255, 0.5);
	background: none;
	border: none;
}
#videoStats:hover {
	/*color: rgba(255,255,255,1);*/
	color: rgba(255,143,0, 1);
}
.lightBoxMode{
	position: absolute;
	/*right: 20px;*/
	bottom: 4px;
	color: rgba(255, 255, 255, 0.5);
	background: none;
	border: none;
	font-size: 30px;
}
.lightBoxMode:hover {
	/*color: rgba(255, 0, 0, 1);*/
	color: rgba(255,143,0, 1);
}
#infoButtonContainer {
	position: relative;
	/*bottom: 13vh;*/
}
/**end of button things that may move in future**/

/************************************************************
* .videoListRowWrapper<div> area  - i.e. area where video	*
* list is generated below the middle navbar 			  	*
*************************************************************/
#listContentWrap{
	height: 40%;
}
.videoListRowWrapper {
	/*height: 47%;*/
	/*height: 84.6%;*/
	padding: 0;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
/************************************************************************************
*  								Carousel Element (only) Styling 					 *
*************************************************************************************/
.carousel-indicators li {
	/* background-color: red;
	border-color: red; */
	text-indent: 0px;
	color: white;
	font-size: 1.2em;
	font-weight: 700px;
	background-color: white;
	position: relative;
	top: 16px;
	background-color: rgba(0,0,0,0) !important;
	border: none;
}
.carousel-indicators {
	/* background-color: white; */
	/* padding-right: 13px; */
	position: relative;
}
li#returnCarouselStart{
	position: relative;
	right: 6px;
	font-size: small;
}
.carousel-control.right {
	height: 100%;
	background: none !important;
	position: fixed;
	top: 70%
}
.carousel-control.left {
	height: 100%;
	background: none !important;
	position: fixed;
	top: 70%
}
.carousel-control.right >span {
	top: 15% !important;
}
.carousel-control.left >span {
	top: 15% !important;
}

#currentSlideNumberArea {
	margin: 5px;
}

#text-carousel {
	overflow: auto;
	/*height: 95%;*/
	background-color:#343e42;
	display: none;
}
#rightArrowIcon, #leftArrowIcon{
	font-size: small;
	position: relative;
	bottom: 2px;
}
/************************************************************************************
*  								 End of Carousel Element Styling					 *
*************************************************************************************/

/************************************************************************************
*  								Carousel (table) Styling						    *
*************************************************************************************/
div.thRow {
	font-family: 'Roboto', sans-serif;
	background-color: rgba(34, 34, 34, 0.8);
	color: white;
	padding-left:15px;
	padding-right:15px;
	/*text-shadow: 
		-0.5px -0.5px 0 #000,
		0.5px 0.5px 0 #000;*/
}
.tdListLeft, .tdListRight {
	padding: 0;
}
.tdListLeft {
	border-right: 0.5px solid;
}
.tdListRight {
	border-left: 0.5px solid;
}
.tdList {
	font-size: 13px;
	height: 2.5vh;
	line-height: 2.5vh;
	min-height: 18.5px;
	z-index: 1;
}

.videoHeader {
	display: none;
}
.carousel-control {
	width: 30px;
}

/*.tdChannel, .tdUpDate{*/
	/*justify-content: center;*/
/*}*/
/*.tdUpDate{*/
	/*position: relative;*/
	/*top: 50%;*/
	/*transform: translateY(-50%);*/
/*}*/
/* need the row margin 0 above and padding 0 below for carousel width adjustment*/

.carouselCol {
	padding: 0;
}
.tdTitle, .tdInfo, .tdChannel, .tdUpDate{
	height: 100%;
}
.tdInfo a{
	/* height: 100%; */
	background: none;
	border: none;

}
.tdInfo{
	padding: 0;
}
.tdInfo i {
	color: #337ab7;
	opacity: 0.75;
}
.tdInfo i:hover{
	opacity: 1;
}
.tdInfo a:hover, .tdInfo a:focus, .tdInfo a:active {
	color: rgba(255, 255, 255, 1);
	background:none;
	outline: none;
}
.tdInfo>a{
	padding: 0 12px;
}
.tdPlaylist{
	padding: 0;
	height:100%;
}
.tdPlaylistButton{
	padding: 0 5px;
	font-size: 10px;
	border: none;
	color: grey;
	background-color: black;
}
.tdPlaylistButton:hover{
	color: #FF8E2F;
}

.fa-check-square-o{
	color: #FF8E2F;
}

.tdPlaylistNum{
	color:white;
}

.tdTitle, .tdChannel, .tdUpDate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	/*display: flex;*/
	/*align-items: center;*/
	color:white;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tdList:nth-child(even) div {
	background-color: #4d5659;
	display: inline;
}
/*.tdList:nth-child(even):hover div {
	background-color: rgba(180, 189, 193, 1.0);
	display: inline;
	color: #020e13;
}
.tdList:nth-child(odd):hover div {
	background-color: rgba(180, 189, 193, 1.0);
	display: inline;
	color: #020e13;
}*/ /*what is this redundant thing*/

.tdList:hover div{
	background-color: rgba(180, 189, 193, 1.0);
	display: inline;
	color: #020e13;
}
/*center info button in row */
.fa-info-circle{ 
	vertical-align: 0%;
}



.selectedTd.tdList:nth-child(even):hover div {
	/* background-color: #364e5a; */
	background-color: rgba(180, 189, 193, 1.0);
	display: inline;
	color: white;
}

.selectedTd.tdList:nth-child(odd):hover div {
	/* background-color: #364e5a; */
	background-color: rgba(180, 189, 193, 1.0);
	display: inline;
	color: white;
}

/* .tdList:hover, .tdRow div.selectedTd {
	/* background-color: #b4bdc1; */
/* background-color: rgba(180, 189, 193, 1.0) !important;} */

.selectedTd>.tdTitle, .selectedTd>.tdInfo, .selectedTd>.tdPlaylist,  .selectedTd>.tdChannel, .selectedTd>.tdUpDate{
	color: white;
	background-color: #042818 !important;
}

.selectedTd>.tdTitle:hover, .selectedTd>.tdInfo, .selectedTd>.tdPlaylist, .selectedTd>.tdChannel:hover, .selectedTd>.tdUpDate:hover{
	color: white;
	background-color: #042818 !important;

}

.selectedTd>.tdTitle>span:hover, .selectedTd>.tdChannel:hover{
    text-decoration: underline;
	color:#FF8E2F !important;
}

.row {
	margin: 0;
}
/************************************************************************************
*  							End of Carousel (table) Styling						    *
*************************************************************************************/

/****** initial screen PLACEHOLDER AREA******/
.contentPlaceholderWrapper{
	height: 100%;
	/*min-height:32vh;*/
	background-color:white;
}
.placeholderBg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url("assets/images/orange-cube.jpg");
	background-position: center;
	background-repeat: no-repeat;
	/*background-size: 100% auto;*/
	background-size: cover;
}
	
.contentPlaceholder{
	color:white;
	height: 100%;
	min-height: 32vh;
	background-color: rgba(2,14,19,0.5);
	font-weight:900;
	text-shadow:
		-0.5px -0.5px 0 #fff,
		0.5px 0.5px 0 #fff;
	user-select: none;	
	-webkit-user-select: none;
	-moz-user-select: none;
}
.contentPlaceholder h1 {
	margin-top: 30px;
}
.contentPlaceholder h3:nth-of-type(1){
	margin-top: 0;
	padding-top: 30px;
}
.contentPlaceholder>image{
	margin: 0 auto; 
}
/****** END of PLACEHOLDER area*****/

/********loading animation area*******/
.timeline-item {
    border: 0px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    padding: 12px;

    margin: 0 auto;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 10px;
    position: relative;
}


.background-masker {
    background: #fff;
    position: absolute;
}

/******* end of loading animation area *******/
/*****************************************
* END of .videoListRowWrapper<div> area  *
* video LIST related things				 *
******************************************/

/************************************************************************
* .modal<div> area -  2 modals currently exist: lightBox, channelsearch	*
* subdivided to specific, existing modals 		                        *
*************************************************************************/
.modal-open {
	background-color: rgba(0, 0, 0, 0.5);
}

/************************************************************************************
*  								Channel Search Modal				     		    *
*************************************************************************************/
#channelSearchModal .modal-dialog {
	width: 60vw;
}

#channelSearchModalHeader .close {
	color: rgba(255, 255, 255, 0.6);
}

#channelSearchModalHeader .close:hover {
	color: rgba(255, 255, 255, 1);
}

#channelSearchModalHeader,
#channelSearchModal .modal-footer {
	background-color: black;
}

#channelSearchModalHeader .modal-title-wrap {
	display: inline-block;
}

#channelSearchModalTitle {
	color: rgb(207, 216, 220);
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	border-right: .15em solid rgb(255, 0, 0);
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: -1px;
	animation: typing 2s steps(40, end), blinkCaret .85s step-end infinite;
}

#channelSearchModalBody {
	list-style-type: none;
	height: 55vh;
	background-color: #020e13;
	overflow: auto;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

#channelSearchModalBody li {
	margin: 5.5px 0;
	padding: 0 7px;
}

#channelSearchModalBody li img {
	width: 40px;
	height: 40px;
	padding: 0;
}

#channelSearchModalBody li h4{
	margin: 0;
	display: inline-block;
	line-height: 2.4;
}

.chName,
#channelSearchModalBody li h4, #channelSearchModalBody li span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#channelSearchModalBody li{
	color:white;
}

.chSub{
	line-height: 0.8;
}

#channelSearchModalBody li:hover{
	background-color: rgba(180, 189, 193, 1.0);
	color:#020e13 !important;
}

#channelSearchModalBody li h4 h5 {
	line-height: 3.4;
}

#channelSearchModalBody .chInfoButton {
	color: #337ab7;
	opacity: 0.75;
	padding: 0;
}

#channelSearchModalBody .chInfoButton:hover {
	opacity: 1;
}

#channelSearchModalBody .chInfoButton:focus {
	outline: none;
}

#channelSearchModalBody li button {
	margin: 5px 1px;
	float: right;
}

.modalChSearch{
	display:inline-block;
}
#ui-id-3{
	max-width: 190px;
}
.modalControls {
	font-size: 2em;
	cursor: pointer;
	margin: 7px 25px;
}
.userLinkBody, .categoryEditBody{
	background-color: #020e13;
	color:white;
	height: 45vh;
	
}
.userLinkHeader, .categoryEditHeader{
	background-color: black;
	color:white;
}
.userLinkHeader>button, .categoryEditHeader>button{
	opacity: 0.7;
	color: white;
}
.userLinkHeader>button:hover, .categoryEditHeader>button:hover{
	opacity: 1;
	color: white;
}
@keyframes linkAlert{
	from, to{color: white;}
	50%{color: red;}
}
.linkCopyArea h3, .linkCopyArea h5{
	animation:
		linkAlert 0.85s infinite;
}
.channelCategoryInput{
	border-radius:0;
	border:none;
}
.channelCategoryForm {
	display: flex;
    justify-content: center;
}
.existingCategorySelect select.channelCategorySelect{
	width: 54%;
}
.existingCategorySelect {
	display: flex;
    justify-content: center;
}
.userCategoryExists{
	display: none;
}
.userCategoryExists dl{
	margin-bottom: 20px;
}
.channelCategoryForm div{
	width: 100%;
}
.channelCategoryButton, .existingCategoryButton{
	background-color: rgba(20,149,20, 0.6);
	color: rgba(255,255,255,0.6);
	cursor: pointer;
	border: none;
}
.channelCategoryButton:hover, .existingCategoryButton:hover{
	background-color: rgba(20,149,20,1);
	color: rgba(255,255,255,1);
}
.playButton:hover, .rewindButton:hover, .fastForwardButton:hover, .pauseButton:hover, .nextVideoButton:hover, .lastVideoButton:hover {
	color: #fff; 
}

/************************************************************************************
*  							End Of Channel Search Modal				     		    *
*************************************************************************************/



/* toggle button */

#autoplayText {
	color: white;
	position: relative;
	top: 0px;
	margin: 5px 2px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 20px;
	margin: 14px 5px;
	top: 2px;
  }
  
  .switch input {
	  opacity: 0;
	}
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 15px;
	left: 1px;
	bottom: 3px;
	background-color: white;
	transition: .4s;
}

input:checked+.slider {
	background-color: #FF8E2F
}

  input:checked + .slider:before {
	transform: translateX(13px);
  }
  
  .slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/************************************************************************************
*  							Start of Watch Order Direction Styles				     *
*************************************************************************************/

.vert {
    height: 30px;
    width: 20px;
}

.vert.slider:before {
	bottom: 16px;
	left: 2px;
}

input:checked + .vert:before {
	transform: translateY(13px);
  }

#autoplayOrderCheckBox {
	margin: 0;
	padding: 0;
	margin-right: 5px;
}

.vertSlide {
	margin-left: 10px;
	height: 50px;
}

.vertSwitch {
	margin: 0;
	top: -10px;
}

#autoplayOrderText {
	color: white;
	position: relative;
	/*top: 2px;*/
	height: 80%;
	margin: 5px;
}

.fa-long-arrow-down{
	position: relative;
	font-size: 30px;
	color: #FF8E2F;	
	top: 7px;
    right: 5px;
	color: orange;
	transform: rotate(0deg);
	transition: transform 0.5s linear;
	cursor: pointer;
	opacity: 0.7;
  }
  
.fa-long-arrow-down.up{
	font-size: 30px;
	color: #FF8E2F;
	top: 7px;
    right: 5px;
	transform: rotate(180deg);
	transition: transform 0.5s linear;
	cursor: pointer;
	opacity: 0.7;
  }

.fa-long-arrow-down.up:hover, .fa-long-arrow-down:hover{
	opacity: 1;
}

/************************************************************************************
*  							Start of Watch Order Direction Styles				     *
*************************************************************************************/


/* Custom CSS for BootStrap Tour keep */

/* .popover-title {
    text-align: center;
    color: red;
    font-size: 22px;
    text-transform: uppercase;
}
	
.popover-content {
    text-align: center;
    font-size: 20px
}
	
.btn-group .btn:nth-child(2) {
    border: 2px solid green;
    background-color: lightseagreen;
    color: white;
}
	
.btn-group .btn:nth-child(1) {
    display: none;
} */


/*testing if placeholder animation will work*/

.timeline-item {
	border: 0px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
	padding: 12px;
	margin: 0 auto;
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0
	}
	100% {
		background-position: 468px 0
	}
}

.animated-background {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	background-size: 800px 104px;
	height: 100px;
	position: relative;
}

.background-masker {
	background: #fff;
	position: absolute;
}

.background-masker.header-bottom {
	top: 100%;
	left: 0px;
	width: 100%;
}

.mediaControls {
	display: inline-block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(255, 255, 255, 0.5);
	margin: 0 auto;
	/*padding-left: 5%;*/
}


/************************************************************
* anything added below this should be for @MEDIA RULES ONLY	*
* in DESCENDING ORDER of screen WIDTH 					    *
* GENERAL WIDTH GUIDE: 										*
* large dvcs(desktop):  >=1200px ; container width 1170px ; colWidth ~97px
* medium dvcs(desktop): >=992px	 ; container width 970px  ; colWidth ~87px
* small dvcs(tablets):  >=768px  ; container width 750px  ; colWidth ~62px
* x-smll (phones):      <768px   ; container width none   ; colWidth auto
******* i think using `toggle device toolbar` in browser is more likely 
safer appraoch than to resizing browser to see change
*************************************************************/
/* @media screen and (max-width: 1150px) {
	.mediaControls {
		/* width: 14%; */
		/* left: 23%; */
	/* } */
/* } */
 /* */ 

@media screen and (max-width: 1082px) {
	#mainNav-option{
		border-top: 1px solid black;
		/*background-color: white;*/
		margin-right: -15px;
		margin-left: -15px;
	}
	p.navbar-text{
		line-height: 2.2;
	}
	/*end of hamburger/navbar css*/
	body>.container-fluid {
		/*padding-top: 56px;*/
		/*padding-top: 50.4px;*/
		/*padding-top: 49.9px;*/
	}
	.main-content {
		/*height: 90vh;*/
		height:94vh;
	}
}
@media screen and (max-width: 1024px) {
	#channelSearchModal .modal-dialog {
		width: 75vw;
	}
	#channelSearchModalBody {
		/*height: 80vh;*/
		height: auto;
	}
}
@media only screen and (max-width: 991px) {
	.main-content{
		height: 94vh;
	}
	.carousel-control {
		height: 75vh;
	}
	.right>.carousel-control {
		width: 45px;
	}
	.tdListLeft, .tdListRight{
		border-right: none;
		border-left: none;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
	/*.carousel-indicators{
		bottom: -230px;
	}*/
}
@media only screen and (min-width: 768px){
	.main-content{
		min-height: 610px;
	}
	#mainNav-option{
		width: auto !important;
	}
	#channelCategoryUl{
		max-height: 40vh;
		max-width: 15vw;
		min-width:210px;
		font-size: 20px;
	}
}
@media only screen and (max-width : 767px){
	body{
		/*overflow-y: visible;*/
	}
	#mainVideo {
		margin: 0.25% 0;
		height: 39vh;
		width: 70vh;
		max-width:100vw;
		justify-self: center;
	}
	.navbar-header{
		width: auto;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
	}
	.hamburger {
		display: inline-block !important;
		/*margin-right:8px;*/
	}
	.channelSearchFormMobile{
		display: inline-block !important;
		width: 208px;
		padding: 10px 0;
	}
	#mainNav-option{
		position: absolute;
		top: 0;
		right: 0;
		z-index: 5;
		/*width: 95vw !important;*/
		width: 0;
		/*min-height: 100vh;*/
		min-height: 0;
		background-color: white;
	}
	#mainNav-option>.nav, .channelDropDown{
		min-height: 95vh;
	}

	#channelCategoryUl{
		font-size:20px;
		min-height: 90vh;
	}
	#dropdownChannelUl{
		max-height: 85vh;
	}
	#midNav{
		height: auto;
	}
	#midNav-option{
		background-color: rgb(40,40,40);
		text-align: start;
	}
	.midNavButtonWrap{
		position: relative;
		/*margin-left: -15px;*/
		margin: 0;
		display: inline-block;
		/*font-size: 11px;*/
		font-size: 9.5px;
		top: 5px;
	}
	.autoPlayArea{
		/*margin-left: -15px;*/
		/*margin-left: 7%;*/
		margin: 0;
		margin-left: 15px;
		left: 0;
		display: inline-block;
	}
	.midNavChannels{
		/*float: none;*/
		float: right;
		display: inline-block;
		/*margin-left: 15px;*/
		margin: 0;
		margin-right: 10px;
	}
	.midNavBrowsing, .midNavWatching, .midNavPlaylist, .midNavPlaylistText{
		/*font-size: 11px;*/
		font-size: 9.5px;
	}
	.fa-long-arrow-down.up, .fa-long-arrow-down{
		top: 15px;
	}
	#midNav-option form{
		width: 95%;
		margin: 0 2.5%;
	}
	.main-content{
		height: 90.6vh;
		/*height: 92vh;*/
	}
	.videoRowWrapper{
		/*height: 47%;*/
		height:45%;
	}
	.contentPlaceholder{
		min-height: 1px;
	}
	#listContentWrap{
		height: 55%;
	}
	.videoListRowWrapper{
		/*height: 45%;*/
		height: 83%;
	}
	#text-carousel{
		max-height:258px;
	}
	.tdList{
		height: 3.7vh;
		line-height: 3.7vh;
	}
	
	/* Added these 6 css selectors to make mobile modal fit */
	.modalChSearch{
		width: 70%;
	}
	.modalChHeader{
		font-size: .80em;
	}
	.browseChannelButton {
		/*width: 15%;*/
		font-size: .70em;
		white-space: normal;
		padding: 6px 0;  
	}
	.addChannelButton {
		/*width:18%;*/
		font-size: .70em;
		white-space: nowrap;
		padding: 6px 0;
	}
	.chName {
		width: 85%;
	}
	#channelSearchModalBody li img{
		width: 25px;
		height: 25px;
	}
	.modal-content {
		width: 96vw;
	}
	.modal-dialog {
		margin: 10px !important;
	}
	/* End of css for mobile modal */

	.carousel-control.right >span {
		top: 8% !important;
	}
	.carousel-control.left >span {
		top: 8% !important;
	}


	.carousel-indicators {
		/*top: 546px;*/
		/*top: 275px;*/
	}
}

@media only screen and (max-width: 420px){
	.carousel-indicators{
		/*top: 484px;*/
	}
}
