/******
youtube red : 255,0,0
almost black: 40,40,40
charcoal: 54,69,79
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
******/

html,
body {
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
}

@keyframes typing {
	from {
		width: 0
	}
	to {
		width: 100%
	}
}

@keyframes blinkCaret {
	from,
	to {
		border-color: transparent
	}
	50% {
		border-color: #2BBBAD;
	}
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: rgb(40, 40, 40);
}

::-webkit-scrollbar-thumb {
	width: 3.5px;
	height: 4px;
	border-radius: 25px;
	background-color: #3F729B;
}

/**styling for navbar area**/

.hamburger {
	display: none !important;
}

.navbar-toggle {
	margin-bottom: 0;
}


#midNav {
	border-radius: 0;
	/*background-color: rgb(28, 35, 49);*/
	/*background-color: rgb(63,114,155);*/
	border: none;
}

.navbar-brand {
	font-size: 22px;
	margin-right: 20px;
	color: rgb(40, 40, 40);
	font-family: 'Audiowide', sans-serif;
	letter-spacing: -1.5px;
	/*padding: 10px 10px;*/
	padding: 0;
	padding-left: 15px;
	/*line-height: 2.6;*/
}
#cubeTubeLogo{
	display: inline-block;
	width: 36px;
	height: 40px;
	background-image: url('assets/images/ctube_logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px 40px;
	margin-top:7px;
}
.logoText{
	vertical-align: 55%;
}
.navbar-brand .fa {
	color: rgb(255, 0, 0);
}
#midNav-option{
	z-index:1;
}
#midNav-option form {
	margin-right: 20px;
}
#mainNav-option .form-group {
	display: inline-block;
	margin: 0;
	padding-top: 10px;
	/* padding-bottom: 10px; */
}
#midNav-option .form-group {
	display: inline-block;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}
.channelSearchForm {
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
}
.infoButtons{
	line-height: 3.5;
}
.autoPlayArea{
	/*float: none;*/
	/*display: inline-block;*/
	margin-left: 35px;
}
#ui-id-1:focus {
	top: 43px;
}


/**end of navbar styling**/

body>.container-fluid {
	padding-top: 51px;
	/*removes navbar overlap*/
	padding-right: 0;
	padding-left: 0;
}

.main-content {
	height: 94vh;
}

.videoRowWrapper {
	height: 47%;
	background-color: rgba(34, 34, 34, 1);
}

.vidRowVideoCol {
	height: 100%;
	/*border: 1px solid red;*/
}

#mainVideo {
	height: 98%;
	margin: 0.25% 0;
	width: 85%;
}

#videoComments {
	/*color: rgba(43,187,173, 0.5);*/
	color: rgba(255, 255, 255, 0.5);
	position: absolute;
	right: 0;
	bottom: 126px;
	background: none;
	border: none;
}

#videoComments:hover {
	color: rgba(43, 187, 173, 1);
}

#channelInfo {
/*	position: absolute;
	right: 0;
	bottom: 89px;*/
	color: rgba(255, 255, 255, 0.5);
	/*color: rgba(49,176,213,0.5);*/
	background: none;
	border: none;
}

#channelInfo:hover {
	color: rgba(255,143,0, 1);
}

#videoStats {
/*	position: absolute;
	right: 0;
	bottom: 52px;*/
	color: rgba(255, 255, 255, 0.5);
	background: none;
	border: none;
}

#videoStats:hover {
	/*color: rgba(255,255,255,1);*/
	color: rgba(0, 200, 81, 1);
}

.lightBoxMode {
	position: absolute;
	right: 20px;
	bottom: 4px;
	color: rgba(255, 255, 255, 0.5);
	background: none;
	border: none;
}

.lightBoxMode:hover {
	color: rgba(255, 0, 0, 1);
}

#infoButtonContainer {
	position: relative;
	/*bottom: 13vh;*/
}

#midNav {
	height: 3.5%;
	margin: 0;
}

.videoListRowWrapper {
	height: 46.5%;
	padding: 0;
	/*border: 2px solid red;*/
	/*overflow: auto;*/
}

div.thRow {
	font-family: 'Roboto', sans-serif;
	background-color: rgba(34, 34, 34, 0.8);
	color: white;
	padding-left:15px;
	padding-right:15px;
	/*text-shadow: 
		-0.5px -0.5px 0 #000,
		0.5px 0.5px 0 #000;*/
}


/* carousel styles */

.carousel-indicators li {
	/* background-color: red;
	border-color: red; */
	text-indent: 0px;
	color: red;
	font-size: 1.2em;
	font-weight: 700px;
	background-color: white;
	position: relative;
	top: 16px;
}


.carousel-indicators {
	/* background-color: white; */
}

li#returnCarouselStart{
	position: relative;
	right: 6px;
	font-size: small;
}

.carousel-control.right {
	height: 100%;
	background: none !important;
}

.carousel-control.left {
	height: 100%;
	background: none !important;
}

#text-carousel {
	overflow: auto;
	height: 95%;
	background-color: rgb(28, 35, 49);
}

.tdListLeft,
.tdListRight {
	padding: 0;
}

.tdListLeft {
	border-right: 0.5px solid;
}

.tdListRight {
	border-left: 0.5px solid;
}

.tdList {
	font-size: 18px;
	margin-top: 1.75px;
	margin-bottom: 1.75px;
	height: 3.2vh;
	z-index: 1;
}
.tdList:nth-of-type(even){
	background-color: rgb(40,40,40);
}
.tdList:nth-of-type(odd){
	background-color: rgb(28,35,49);
}

.tdList:hover,
.selectedTd {
	background-color: rgba(43, 187, 173, 0.6);
}

.selectedTd>.tdTitle:hover, .selectedTd>.tdChannel:hover{
	font-weight: bold;
}

.row {
	margin: 0;
}
.tdTitle, .tdChannel, .tdUpDate{
	cursor: pointer;
	color: white;
	display:flex;
	align-items: center;
}

.tdChannel, .tdUpDate{
	justify-content: center;
}

.tdUpDate{
	position:relative;
	top:50%;
	transform: translateY(-50%);
}


/* need the row margin 0 above and padding 0 below for carousel width adjustment*/

.carouselCol {
	padding: 0;
}

.tdTitle,
.tdInfo,
.tdChannel,
.tdUpdate,
.tdButton {

	height: 100%;
}

.tdInfo a,
.tdInfo a:hover,
.tdInfo a:focus,
.tdButton a,
.tdButton a:hover,
.tdButton a:focus {
	height: 100%;
	background: none;
	border: none;
}

.tdInfo i {
	color: rgba(63, 114, 155, 0.5);
}

.tdInfo i:hover,
.tdInfo i:focus {
	color: rgba(63, 114, 155, 1);
}

.tdButton i {
	/*color: rgba(38, 50, 56, 0.5);*/
	color:rgba(255,255,255,0.6);
}

.tdButton i:hover,
.tdButton i:focus {
	/*color: rgba(38, 50, 56, 1);*/
	color: rgba(255,255,255,1);
}

.tdTitle,
.tdChannel,
.tdUpDate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media screen and (max-width: 1082px) {
	.hamburger {
		display: inline-block !important;
	}
	.navbar-header{
		width: 100%;
	}
	.navbar-collapse.collapse{
		display: none !important;
	}
	.collapse.in{
		display: block !important;
	}
	#mainNav-option{
		border-top: 1px solid black;
		background-color: white;
		margin-right: -15px;
		margin-left: -15px;
	}
	#midNav-option {
		background-color: rgba(54, 69, 79, 1);
		/*border-top: 0.5px solid blue;*/
		margin: 0 -15px;
	}
	p.navbar-text, ul.navbar-nav{
		font-size: 10.5px;
	}
	p.navbar-text{
		line-height: 2.2;
	}
	#mainNav-option form,
	#midNav-option form {
		margin-right: 0;
	}
	.autoPlayArea{
		margin-left: -15px;
	}
	/*end of hamburger/navbar css*/
	body>.container-fluid {
		padding-top: 56px;
	}
	.main-content {
		height: 90vh;
	}
	.mainVideo {
		margin-top: 2%;
		height: 40vh;
		width: 100%;
	}

	.thUpDate{
		font-size: 14px;
		padding: 0;
	}
	.tdUpDate {
		font-size: 9px;
		padding: 0;
	}
	.tdList {
		font-size: 12px;
		margin-top: 1px;
		margin-bottom: 1px;
	}
}


/**modal css**/

#lightBoxModal .modal-dialog {
	/*height: 80vh;*/
	width: 80vw;
	/*padding: 0;*/
}

#lightBoxModal .modal-content {
	background: transparent;
}

#lightBoxModal .modal-body {
	height: 80vh;
	padding: 0;
}

#lightBoxModal .modal-footer {
	background-color: black;
}

#lightBoxModal iframe {
	height: 100%;
	width: 100%;
}

.modal-open {
	background-color: rgba(0, 0, 0, 0.5);
}

#channelSearchModal .modal-dialog {
	width: 60vw;
}

#channelSearchModalHeader .close {
	color: rgba(255, 255, 255, 0.6);
}

#channelSearchModalHeader .close:hover {
	color: rgba(255, 255, 255, 1);
}

#channelSearchModalHeader,
#channelSearchModal .modal-footer {
	background-color: rgb(28, 35, 49);
}

#channelSearchModalHeader .modal-title-wrap {
	display: inline-block;
}

#channelSearchModalTitle {
	color: rgb(207, 216, 220);
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	border-right: .15em solid rgb(255, 0, 0);
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: -1px;
	animation: typing 2s steps(40, end), blinkCaret .85s step-end infinite;
}

#channelSearchModalBody {
	list-style-type: none;
	height: 65vh;
	background-color: rgb(89, 105, 141);
	overflow: auto;
}

#channelSearchModalBody li {
	margin: 5.5px 0;
	padding: 0 7px;
}

#channelSearchModalBody li:hover {
	background-color: #1c2a48;
}

#channelSearchModalBody li img {
	width: 44px;
	height: 44px;
	padding: 0;
}

#channelSearchModalBody li h4 {
	margin: 0;
	display: inline-block;
	line-height: 2.4;
	color: rgb(207, 216, 220);
}

.chName,
#channelSearchModalBody li h4 small {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: white;
}

#channelSearchModalBody li h4 small {
	line-height: 3.4;
}

#channelSearchModalBody .chInfoButton {
	color: rgba(49, 176, 213, 0.3);
	padding: 0;
}

#channelSearchModalBody .chInfoButton:hover {
	color: rgba(49, 176, 213, 1);
}

#channelSearchModalBody .chInfoButton:focus {
	outline: none;
}

#channelSearchModalBody li button {
	margin: 5px 2px;
	float: right;
}


/*end of modal css*/

.carousel-control {
	width: 30px;
}

.glyphicon {
	color: red;
}

.contentPlaceholderWrapper{
	height: 100%;
}

.placeholderBg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	/*background-color: lightblue;*/
	background-image: url("assets/images/img_01.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	opacity: 0;
	animation: backgroundChange 100s linear infinite;
}
@keyframes backgroundChange{
	10%{
		background-image: url("assets/images/img_02.jpg");
		opacity: 0;
	}
	5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95%{
		opacity: 0.6;
	}
	3%, 7%,13%, 17%,23%, 27%,33%, 37%,43%, 47%,53%, 57%,63%, 67%,73%, 77%,83%, 87%,93%, 97%{
		opacity: 0.3;
	}
	20%{
		background-image: url('assets/images/img_03.jpg');
		opacity: 0;
	}
	30%{
		background-image: url('assets/images/img_04.jpg');
		opacity: 0;
	}
	40%{
		background-image: url('assets/images/img_05.jpg');
		opacity: 0;
	}
	50%{
		background-image: url('assets/images/img_06.jpg');
		opacity: 0;
	}
	60%{
		background-image: url('assets/images/img_07.jpg');
		opacity: 0;
	}
	70%{
		background-image: url('assets/images/img_08.jpg');
		opacity: 0;
	}
	80%{
		background-image: url('assets/images/img_09.jpg');
		opacity: 0;
	}
	90%{
		background-image: url('assets/images/img_10.jpg');
		opacity: 0;
	}
	100%{
		background-image: url('assets/images/img_01.jpg');
		opacity: 0;
	}
}

.contentPlaceholder{
	margin-top: 30px;
	text-shadow:
		-0.5px -0.5px 0 #fff,
		0.5px 0.5px 0 #fff;
}

.contentPlaceholder>image{
	margin: 0 auto; 
}


/* toggle button */

#autoplayText {
	color: white;
	position: relative;
	top: 2px;
	margin: 5px;
	/* margin: 5px; */
}

.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 20px;
	margin: 10px;
	top: 2px;
  }
  
  .switch input {
	  /* display:none; */
	  opacity: 0;
	}
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 15px;
	left: 1px;
	bottom: 3px;
	background-color: white;
	transition: .4s;
}

input:checked+.slider {
	background-color: #d8364e;
	/* opacity: 0.6; */
}
/* input:focus + .slider {
	box-shadow: 0 0 1px red;
  } */
  input:checked + .slider:before {
	transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

@media only screen and (max-width: 991px) {
	.carousel-control {
		height: 75vh;
	}
	.right>.carousel-control {
		width: 45px;
	}
	.tdListLeft, .tdListRight{
		border-right: none;
		border-left: none;
	}
}

@media screen and (max-width: 1024px) {
	#channelSearchModal .modal-dialog {
		width: 100vw;
		margin: 0 auto;
	}
	#channelSearchModalBody {
		height: 75vh;
	}
}


@media only screen and (max-width : 767px){
	.navbar-header{
		width: auto;
	}
	#mainVideo {
		height: 100%;
		width: 100vw;
	}
	.vidRowVideoCol {
		padding: 0;
	}
	/* Added these 6 css selectors to make mobile modal fit */
	small {
		display: none;
	}
	h4 {
		font-size: .75em;
	}
	.browseChannelButton {
		width:18%;
		font-size: .70em;   
	}
	.addChannelButton {
		width:15%;
		font-size: .70em;
	}
	.col-xs-7 {
		width: 50% !important;
	}
	.chName {
		width: 85%;
	}
	/* End of css for mobile modal */
	
	ul {
		top: 305px !important;
		border: none !important;
	}

	.navbar-brand {
		display: none;
	}
}
/*testing if placeholder animation will work*/

.timeline-item {
	border: 0px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
	padding: 12px;
	margin: 0 auto;
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0
	}
	100% {
		background-position: 468px 0
	}
}

.animated-background {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	background-size: 800px 104px;
	height: 100px;
	position: relative;
}

.background-masker {
	background: #fff;
	position: absolute;
}
/*Transition to get hamburger menu to collapse when search button is clicked */
.navbar-collapse {
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s; 
	transition: all ease .5s;
}