/******
youtube red : 255,0,0
almost black: 40,40,40
charcoal: 54,69,79
******/
html,body{
	overflow-x: hidden;
}
@keyframes typing{		
	from {width: 0}
	to {width: 100%}
}
@keyframes blinkCaret{
	from, to{border-color: transparent}
	50%{ border-color: #2BBBAD;}
}

/**styling for navbar area**/
.hamburger{
	display: none !important;
}

.navbar{
	/*background-color: rgb(255,0,0);*/
	/*may change color to white*/
}
.navbar-brand{
	margin-right: 20px;
	color: rgb(255,0,0);
	/*padding: 10px 10px;*/
}
#mainNav-option form, #midNav-option form{
	margin-right: 20px;
}
#mainNav-option .form-group{
	display: inline-block;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
#midNav-option .form-group{
	display: inline-block;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}
/**end of navbar styling**/

body>.container-fluid{
	padding-top:51px;	/*removes navbar overlap*/
}
.main-content{
	height: 94vh;
}
.videoRow{
	height: 47%;
	background-color: rgba(54,69,79,1);
}
.videoWrapper{
	height: 100%;
}
.mainVideo{
	height: 98%;
	margin: 0.25% 0;
}
.lightBoxMode{
	float: left;
	color: rgba(0,0,0,0.5);
}
.lightBoxMode:hover{
	color: rgba(0,0,0, 1);
}
#midNav{
	height: 3.5%;
	margin: 0;
}
.listRow{
	height: 43%;
	border: 2px solid red;
}
@media screen and (max-width: 767px){
	.hamburger{
		display: inline-block !important;
	}
	#mainNav-option{
		border-top: 1px solid black;
		background-color: white;
	}
	#midNav-option{
		background-color: rgba(54,69,79,1);
		border-top: 0.5px solid blue;
	}
	#mainNav-option form, #midNav-option form{
		margin-right: 0;
	}
	/*end of hamburger/navbar css*/

	body>.container-fluid{
		padding-top:56px;
	}
	.main-content{
		height: 90vh;
	}
	.mainVideo{
		margin-top: 2%;
		height: 40vh;
		width: 100%;
	}
}	

/**modal css**/
#lightBoxModal .modal-dialog{
	/*height: 80vh;*/
	width: 80vw;
	/*padding: 0;*/
}
#lightBoxModal .modal-content{
	background: transparent;
}
#lightBoxModal .modal-body{
	height: 80vh;
	padding: 0;
}
#lightBoxModal iframe{
	height: 100%;
	width: 100%;
}
.modal-open{
	background-color: rgba(0,0,0,0.5);
}