@font-face {
    font-family: 'TradeGothicLT';
    src:  url('font/TradeGothicLT.otf') format('woff2')
}

body{
    font-family: TradeGothicLT, Arial;
}

#content{
    width: 80vw;
    margin:auto;
    position: relative;
    top:4vh;
}

h1, h3{
    margin:0;
    display:inline-block;
}

#videoStreamContainer{
    width:50%;
    margin:auto;
    display: flex;
    align-items: center;
}

/*li{*/
    /*display: inline-block;*/
/*}*/